@charset "UTF-8";

/* Mask Layer */
.na-mask { 
	position: absolute; 
	bottom: 0; 
	left: 0; 
	width: 100%; 
	z-index:10; 
	overflow:hidden; 
	line-height:1px; 
	pointer-events: none; 
	margin-bottom:-1px; 
}
.na-mask .na-svg { 
	position: absolute; 
	bottom: 0; 
	left: 50%; 
	-webkit-transform: translateX(-50%); 
	-ms-transform: translateX(-50%); 
	transform: translateX(-50%); 
}
.na-mask svg { 
	display:block; 
}
.na-mask-a { 
	height: 64px; 
}
.na-mask.na-mask-a { 
	z-index: 11; 
}
.na-mask-b { 
	height: 57px; 
}
.na-mask-c { 
	height: 74px; 
}
.na-mask-c .na-mask-fill { 
	-webkit-transform-origin: 0 100%; 
	-ms-transform-origin: 0 100%; 
	transform-origin: 0 100%; 
	transform: skewY(-0.2deg); 
}
.na-mask-c .na-mask-over { 
	z-index: 11; 
}
.na-mask-d1 { 
	height: 27px; 
}
.na-mask-d2 { 
	height: 57px; 
}
.na-mask-d2 .na-mask-svg { 
	margin-bottom: -15px;
}
.na-mask-e1 { 
	padding-bottom: 6%; 
}
.na-mask-e1 .na-mask-fill { 
	position: absolute; 
	width: 100%; 
	height: 100%; 
	top: 0; 
	left: 0; 
	-webkit-backface-visibility: hidden; 
	backface-visibility: hidden; 
	-webkit-transform: skewY(-3deg); 
	transform: skewY(-3deg); 
	-webkit-transform-origin: 100% 0;
	transform-origin: 100% 0; 
}
.na-mask-e2 { 
	height: 40px; 
}
.na-mask-e3 { 
	height: 80px; 
}
.na-mask-e4 { 
	height: 100px; 
}
.na-mask-f { 
	padding-bottom: 6%; 
}
.na-mask-f .na-mask-fill { 
	position: absolute; 
	width: 100%; 
	height: 100%; 
	top: 0; 
	left: 0; 
	-webkit-backface-visibility: hidden; 
	backface-visibility: hidden; 
	-webkit-transform: skewY(3deg); 
	transform: skewY(3deg); 
	-webkit-transform-origin: 0 100%;
	transform-origin: 0 100%; 
}
.na-mask-g1 { 
	height: 30px; 
}
.na-mask-g2 { 
	height: 20px; 
}
.na-mask-h { 
	height: 80px; 
}
.na-mask-i1 { 
	height: 12px; 
}
.na-mask-i2 { 
	height: 16px; 
}
.na-mask-j { 
	height: 40px; 
}
.na-mask-k1 { 
	height: 50px; 
}
.na-mask-k { 
	height: 100px; 
}
.na-mask-k svg { 
	float:left; 
}
.na-mask-rev { 
	bottom:auto; 
	top:0; 
	-webkit-transform: rotateX(180deg); 
	transform: rotateX(180deg); 
	-webkit-transform: rotateZ(180deg); 
	transform: rotateZ(180deg); 
	left: -1px; 
	width: calc(100% + 1px); 
}
.na-mask-rev.na-mask-g1 svg { 
	margin-bottom:-30px; 
}
.na-mask-rev.na-mask-j { 
	height:39px; 
}
.na-mask-rev.na-mask-k { 
	height:100px; 
}
.na-mask-l,
.na-mask-l svg { 
	height:99px; 
}
.na-mask-l { 
	margin-bottom:-1px; 
}
.na-mask-rev.na-mask-l { 
	margin-top:-1px; 
}
.na-mask-m,
.na-mask-m svg { 
	height: 120px; 
}
.na-mask-m { 
	margin-bottom:-1px; 
}
.na-mask-rev.na-mask-m { 
	margin-top:-1px; 
}
.na-mask-zone { 
	display:none; 
	margin-bottom:-1px; 
}
.na-mask-show .na-mask-zone { 
	display:block; 
}
.na-footer-mask { 
	position:relative; 
	margin-bottom:-1px; 
}

@media all and (max-width:991px) {
	.responsive .na-mask-e4,
	.responsive .na-mask-e4 svg { 
		height:60px; 
	}
	.responsive .na-mask-k { 
		height: 80px; 
	}
	.responsive .na-mask-k svg { 
		height: 136px; 
	}
	.responsive .na-mask-rev.na-mask-k { 
		height:80px; 
	}
	.responsive .na-mask-l,
	.responsive .na-mask-l svg { 
		height:80px; 
	}
	.responsive .na-mask-m,
	.responsive .na-mask-m svg { 
		height:80px; 
	}
}
@media all and (max-width:767px) {
	.responsive .na-mask-e4,
	.responsive .na-mask-e4 svg { 
		height:40px; 
	}
	.responsive .na-mask-k1,
	.responsive .na-mask-k1 svg { 
		height:25px; 
	}
	.responsive .na-mask-k { 
		height: 60px; 
	}
	.responsive .na-mask-k svg { 
		height: 102px; 
	}
	.responsive .na-mask-rev.na-mask-k { 
		height:60px; 
	}
	.responsive .na-mask-l,
	.responsive .na-mask-l svg { 
		height:60px; 
	}
	.responsive .na-mask-m,
	.responsive .na-mask-m svg { 
		height:50px; 
	}
}
@media all and (max-width:480px) {
	.responsive .na-mask-e4,
	.responsive .na-mask-e4 svg { 
		height:20px; 
	}
	.responsive .na-mask-k { 
		height: 40px; 
	}
	.responsive .na-mask-k svg { 
		height: 68px; 
	}
	.responsive .na-mask-rev.na-mask-k { 
		height:40px; 
	}
	.responsive .na-mask-l,
	.responsive .na-mask-l svg { 
		height:30px; 
	}
	.responsive .na-mask-m,
	.responsive .na-mask-m svg { 
		height:30px; 
	}
}
